<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <section class="max-w-screen-xl mx-auto py-20 px-8 lg:px-10">
        <h2 class="text-4xl xl:text-5xl capitalize text-center text-indigo-900 font-bold">Home</h2>
        <hr class="mx-auto w-12 h-1 outline-0 border-0 bg-green-300 block mt-4 mb-6">
        <p class="text-center text-xl text-gray-800"> <%= age %> Our team consists only of the best talents</p>

        <div class="flex flex-col gap-6 mt-16">
            <div class="flex flex-col md:flex-row gap-6">
                <div class="w-full lg:w-1/4 rounded-3xl overflow-hidden">
                    <img src="https://images.pexels.com/photos/1036622/pexels-photo-1036622.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="Hanna Lubin" class="w-full h-full object-cover aspect-video lg:aspect-square">
                </div>
                <div class="w-full lg:w-9/12 bg-red-100 rounded-3xl flex flex-col justify-center p-8 lg:p-14">
                    <h3 class="text-2xl capitalize text-indigo-900 font-semibold">hanna lubin</h3>
                    <span class="inline-block capitalize text-xl text-indigo-900 font-light mt-1.5 mb-5">doctor</span>
                    <p class="text-indigo-900 opacity-75 leading-normal">Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit. Quam saepe sint expedita suscipit nemo nihil cupiditate culpa temporibus,
                        facere nisi.</p>
                </div>
            </div>
            <div class="flex flex-col md:flex-row-reverse gap-6">
                <div class="w-full lg:w-1/4 rounded-3xl overflow-hidden">
                    <img src="https://images.pexels.com/photos/1462637/pexels-photo-1462637.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="Erin Calzoni" class="w-full h-full object-cover aspect-video lg:aspect-square">
                </div>
                <div class="w-full lg:w-9/12 bg-blue-100 rounded-3xl flex flex-col justify-center p-8 lg:p-14">
                    <h3 class="text-2xl capitalize text-indigo-900 font-semibold">Erin Calzoni</h3>
                    <span class="inline-block capitalize text-xl text-indigo-900 font-light mt-1.5 mb-5">nurse</span>
                    <p class="text-indigo-900 opacity-75 leading-normal">Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit. Quam saepe sint expedita suscipit nemo nihil cupiditate culpa temporibus,
                        facere nisi.</p>
                </div>
            </div>
            <div class="flex flex-col md:flex-row gap-6">
                <div class="w-full lg:w-1/4 rounded-3xl overflow-hidden">
                    <img src="https://images.pexels.com/photos/1065084/pexels-photo-1065084.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="" class="w-full h-full object-cover aspect-video lg:aspect-square">
                </div>
                <div class="w-full lg:w-9/12 bg-yellow-100 rounded-3xl flex flex-col justify-center p-8 lg:p-14">
                    <h3 class="text-2xl capitalize text-indigo-900 font-semibold">jenna smith</h3>
                    <span class="inline-block capitalize text-xl text-indigo-900 font-light mt-1.5 mb-5">
                        pediatrician</span>
                    <p class="text-indigo-900 opacity-75 leading-normal">Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit. Quam saepe sint expedita suscipit nemo nihil cupiditate culpa temporibus,
                        facere nisi.</p>
                </div>
            </div>
            <div class="flex flex-col md:flex-row-reverse gap-6">
                <div class="w-full lg:w-1/4 rounded-3xl overflow-hidden">
                    <img src="https://images.pexels.com/photos/1181690/pexels-photo-1181690.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="" class="w-full h-full object-cover aspect-video lg:aspect-square">
                </div>
                <div class="w-full lg:w-9/12 bg-green-100 rounded-3xl flex flex-col justify-center p-8 lg:p-14">
                    <h3 class="text-2xl capitalize text-indigo-900 font-semibold">christina meyer</h3>
                    <span
                        class="inline-block capitalize text-xl text-indigo-900 font-light mt-1.5 mb-5">psychologist</span>
                    <p class="text-indigo-900 opacity-75 leading-normal">Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit. Quam saepe sint expedita suscipit nemo nihil cupiditate culpa temporibus,
                        facere nisi.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- <script src="/javascripts/script.js"></script> -->
</body>

</html>