<link rel="stylesheet" href="stylesheets/style.css">
<div class="formbold-main-wrapper" style="display: none;" id="uploadform">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="formbold-form-wrapper">
        <form action="/fileupload" method="POST">
            <div class="form-divide">
                <div class="mb-6 pt-4 form-left">
                    <label style="margin-bottom: 0;" class="formbold-form-label formbold-form-label-2">
                        Upload File
                    </label>

                    <div class="formbold-mb-5 formbold-file-input">
                        <input type="file" name="file" id="file" />
                        <label for="file">
                            <div>
                                <span class="formbold-drop-file"> Drop files here </span>
                                <span class="formbold-or"> Or </span>
                                <span class="formbold-browse"> Browse </span>
                            </div>
                        </label>
                    </div>
                </div>


                <div class="form-right">
                    <div class="formbold-mb-5">
                        <label for="email" class="formbold-form-label">
                            Send files to this email:
                        </label>
                        <input type="email" name="email" id="email" placeholder="Enter your email"
                            class="formbold-form-input" />
                    </div>

                    <div class="formbold-mb-5">
                        <label for="email" class="formbold-form-label">
                            Send files to this email:
                        </label>
                        <input type="email" name="email" id="email" placeholder="Enter your email"
                            class="formbold-form-input" />
                    </div>

                    <div class="formbold-mb-5">
                        <label for="email" class="formbold-form-label">
                            Send files to this email:
                        </label>
                        <input type="email" name="email" id="email" placeholder="Enter your email"
                            class="formbold-form-input" />
                    </div>
                </div>
                
            </div>
            <div>
                <button class="formbold-btn w-full">Send File</button>
            </div>
        </form>
    </div>
</div>