<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>

<body>
  <% if (nav == true) { %>
    <% include menu.ejs %>
  <% } %>