body, html{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: white;
}

ul li{
    list-style-type: none;
}

.main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 110vh;
    /* for 2nd Section */
    /* grid-template-rows: 955px 200px;  */
}

.section1{
    display: grid;
    grid-template-rows: 130px 1fr;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQtpg6IVHZ3W2L6Y7Xaqwr7OzyAQytEdyBxWV5MlOpsF83FiYbC);
    background-size: cover;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    width: 5.5em;
    margin-left: 3%;
    margin-top: 1em;
    font-size: 2em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .2em;
    color: rgb(255, 255, 255);
    border: solid cyan 4px;
    border-bottom: -20em;
    border-radius: 5px;
    cursor: pointer;
}

@keyframes popup{
    from{
        transform: translateY(100px);
    }
    to{
        transform: translateY(0px);
    }
}

.header .nav-btn{
    margin-right: 30px;
    margin-top: 30px;
}

.header .nav-btn ul {
    display: flex;
}

.header .nav-btn ul li a{
    margin-right: 2rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

.hero-main {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;
}

.hero-main .hero-contents {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 700px;
  height: 700px;
  margin-left: 80px;
  margin-top: 30px;
  animation-name: popup;
    animation-duration: 2s;
   }

   .hero-img-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px ;
    width: 120px;
    border: solid 4px cyan;
   }

   .brandName{
   font-size: 100px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, cursive;
   font-weight: 900;
   }

   .hero-text{
    margin-top: -60px;
    margin-bottom: 20px;
   }


   .header .nav-btn ul li:nth-child(4){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px ;
    width: 100px;
    padding: 5px;
    margin-top: -12px;
    margin-left: 20px;
    border: solid 2px cyan;
    
}

.header .nav-btn ul li:nth-child(4) .acc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -30px;
}
/* 
.section2{
    height: auto;
    background: linear-gradient(120deg, rgb(127, 127, 128), rgb(197, 197, 196))
} */