<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/feed.css">
</head>


<body>


  <!-- menu -->

  <%- include('layout/menu')  %>
  <!-- container -->
  
    <%- include('layout/feed') %>


  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="app.js"></script>

</body>

</html>