<% include ./partials/header.ejs %>
  <link rel="stylesheet" href="/stylesheets/style.css">
  
  <div class="container">
    <div class="content">
      <!--pintrest logo-->
      <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo"
        class="img1" />
      <p class="header">Make Account <br> to see more</p>

      <!-- for Error msg Show -->
      <% if(errors.length>0) {%>
        <p class="error">
          <%= errors %>
        </p>
        <% } %>

          <!-- Form Started -->
          <form action="/register" method="post">
            <input required type="text"  name="username" placeholder="Username" class="detail" /><br />
            <input required type="email" name="email" placeholder="Email" class="detail" /><br />
            <input required type="tel"   name="contact" placeholder="Contact" class="detail" pattern="[0-9]{10}" title="Please enter a 10-digit number" maxlength="10" /><br />

            <input required="password" name="password" type="password" placeholder="Password" class="detail" />
            <input class="btn int" type="submit" value="Create New Account">
          </form>
          <h4 style="cursor: pointer;"></h4>
          <a href="/forgot" class="forpass">Forgot your password?</a>
          <footer>
            <p>
              By continuing, you agree to Pinterest's
              <b>Terms of Service, Privacy policy.</b>
            </p>
            <p>Not on Pinterest yet? <a href="/login" style="text-decoration: none;">Login</a></p>
            <hr />
          </footer>
    </div>
  </div>
  <a href="/login" class="upbtn">Login</a>

  <% include ./partials/footer.ejs %></link>