/*ROOT*/
* {
    outline: none;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: arial;
}

img {
    user-select: none;
}

/*MENU*/
.menu {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    max-width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: bold;
}

.menu .logo {
    width: 25px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.menu .logo:hover {
    background: #eeeeee;
}

.menu .home {
    color: #fff;
    padding: 12px 25px;
    cursor: pointer;
    user-select: none;
    border-radius: 40px;
    margin: 0px 5px;
    background: #000000;

}

.menu .search-bar {
    width: 100%;
    margin: 0px 5px;
    padding: 12px 35px;
    border-radius: 40px;
    outline: none;
    position: relative;
    background-color: #efefef;
    font-size: 15px;
    background-image: url("https://cdn4.iconfinder.com/data/icons/music-ui-solid-24px/24/search-3-256.png");
    background-size: 21px;
    background-repeat: no-repeat;
    background-position: center left;
    background-position: 10px;
    color: gray;
    border: 4px solid transparent;
}

.menu .search-bar:hover {
    background-color: #3333;
}

.menu .search-bar:focus {
    border: 4px solid #7bb5f0;
    padding: 12px 20px;
    background-image: none;
}

.menu .search-bar::placeholder {
    user-select: none;
}



.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icon-container .icon {
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
}

.icon-container .icon:hover {
    background-color: #eeeeee;
}

.icon-container .btn {
    width: 14px;
    padding: 5px;
}

.focus-bar {
    width: 250px;
    height: 350px;
    border-radius: 15px;
    background: #fff;
    border: 2px solid #3333;
    position: absolute;
    top: 40px;
    /*50px*/
    left: -90px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    user-select: none;
    z-index: 99;
}

.bell:focus+.message+.pp+.btn+.bell-bar,
.bell-bar:focus {
    visibility: visible;
    opacity: 1;
    top: 50px;
}

.message:focus+.pp+.btn+.bell-bar+.message-bar,
.message-bar:focus {
    visibility: visible;
    opacity: 1;
    top: 50px;
}

.pp:focus+.btn+.bell-bar+.message-bar+.pp-bar,
.pp-bar:focus {
    visibility: visible;
    opacity: 1;
    top: 50px;
}

.btn:focus+.bell-bar+.message-bar+.pp-bar+.btn-bar,
.btn-bar:focus {
    visibility: visible;
    opacity: 1;
    top: 50px;
}

.pp-bar a {
    text-decoration: none;
    padding: 5px 15px;
    border: 2px solid #161b22;
    color: #161b22;
    border-radius: 5px;
}

.pp-bar {
    flex-direction: column;
}


.profile-img-menu{
    height: 25px;
    object-fit: cover !important;
}
.pp-bar img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.pp-bar a:hover {
    background: #161b22;
    color: white;
}

/*MINI SEARCH BAR*/
#two {
    display: none;
    padding: 15px;
}

.responsive-search-bar {
    max-width: 100%;
    padding: 40px 10px;
    text-align: center;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -300px;
    transition: all 0.3s;
    overflow: hidden;
    display: none;
    background: #fff;
    box-shadow: 0px 0px 2px 0px #333;
    margin: 0px 5px;
    z-index: 99;
}

.responsive-search-bar input {
    width: 100%;
    height: 35px;
    outline: none;
    border-radius: 40px;
    border: 4px solid transparent;
    background-image: url("https://cdn4.iconfinder.com/data/icons/music-ui-solid-24px/24/search-3-256.png");
    background-size: 21px;
    background-repeat: no-repeat;
    background-position: center left;
    background-position: 10px;
    padding: 0px 15px 0px 35px;
    background-color: #efefef;
}

.responsive-search-bar input:focus {
    border: 4px solid #7bb5f0;
}

.responsive-search-bar p {
    font-size: 11px;
    padding: 11px;
    margin-left: 5px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: -12px;
    right: -1px;
    transition: all 0.3s;
}

.responsive-search-bar p:hover {
    background: #eeeeee;
    transform: rotate(-180deg);
}

.vertical-menu {
    width: 100%;
    background-color: #f1f1f1;
    overflow-x: hidden;
}

.vertical-menu a {
    padding: 8px 16px;
    border-radius: 11px;
    margin: 2px;
    text-decoration: none;
    color: #000;
    display: block;
}

.vertical-menu a:hover {
    background-color: rgb(228, 225, 225);

}

.focus-bar-menu {
    width: 250px;
    overflow: hidden;

    border-radius: 15px;
    background: #fff;
    border: 2px solid #3333;
    position: absolute;
    top: 40px;
    /*50px*/
    left: -90px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    user-select: none;
    z-index: 99;
}
